<ion-view title="CategorySelect">
   <div class="modal">
      
	  <ion-header-bar">
        <h4 class="title">Wybierz kategorię</h4>
      </ion-header-bar>
      <ion-content>
		<div class="list">
		  <div class="item" ng-click="categoryClicked(null)" >-- wszystkie --</div>
		  <div class="item" ng-click="categoryClicked(cat)" ng-repeat="cat in categories">{{cat.name}}</div>
		</div class="list">
		<!--<button class="button button-full button-energized" ng-click="closeModal()">Done</button>-->
      </ion-content>
    </div>
</ion-view>
